body{
    background-image: url("613e1da6c0214.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}
header{ margin: 0px;
    direction: rtl;
    padding: 0px;
     background-color:rgb(25, 175, 170);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     height: 150px;
}
h1{
    
    font-family: url(http://fonts.googleapis.com/earlyaccess/thabit.css);
    padding-right: 40px;
    font-size: 60px;
    color: beige;}

    p{
        margin-left: 30px;
        
        display: inline;
    }
    button{
        padding: 4px 30px 4px 30px;
        
        cursor: pointer;
        font-size: 20px;
        border-radius: 20px;
    }
    ul {
    
        list-style-type: none;
        margin: 0%;
        padding: 0px;
        overflow: hidden;
        background-color: #73d8d8;
    }
    
    li {
        float: right;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: rgb(31, 138, 134);
    }
    .active {
        background-color:  #086b6b;
    }